
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body {
	font-size: 20px;
	line-height: 1.5;
	font-family: "Open Sans", "Sans-serif";	
}


.img {
	background-image: url("../image/housesketch.png");
	height: 392px;
	background-attachment: fixed;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

h2, h3, h4, h5 {
	font-weight: bold;
	font-size: 1em;
}

a { 
	color: #dd0000;
	text-decoration: none;
}

header {
	background-color: ##FFED74;
	border: 1px solid gray;
	padding: 40px;
}

nav {
	background-color: #E8C66A;
	text-align: center;
}

nav a {
	color: #FFFFFF;
	/*margin-left: 10px;
	margin-right: 10px;*/
	display: block;
	width: 16.666%;
	float: left;
}

nav a:hover {
	background-color:#FFE2B8 ;
}

.about {
	background-color: #FFC675;
	padding: 20px;
	border-bottom: 1px solid grey;
	float: left;
	width: 100%;
}

.profile {
	background-color: #FFC675;
	padding: 20px;
	border-bottom: 1px solid grey;
	float: left;
	width: 100%;
}


.mission {
	background-color: #FFC675;
	padding: 20px;
	border-bottom: 1px solid grey;
	float: left;
	width: 100%;
}

.bio {
	width: 359px;
	background-color: #E89C6C;
	padding: 20px;
	border-bottom: 1px solid grey;
	float: right;
	width: 100%;
}

footer {
	clear: both;
	background-color: #FF957E;
	padding: 20px
}

footer p{
	text-align: center;
}

.logo {
	padding-left: auto;
	padding-right: auto;
}

div{
	width: 1080px;
	margin: 0 auto;
	background-color: #FFE2B8;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	height: 0;
	font-size: 0;
	visibility: hidden;
}